.widget_nav_menu {
	a {
		display: block;
	}
	ul.sub-menu li {
		text-indent: 0;
	}

	ul.sub-menu {
		padding-top: 0 !important;
		//margin-left: -10px;
		padding-left: 0px;
		margin-top: 15px !important;
			li {
				padding-left: 12px;
			}
		}
} 


