.site-footer .footer-widgets {
	margin-top: 0;
}
	
.site-footer {
	background: $secondary;
	@include font-size(1.5);
	color: $white;
	.footer-widgets {
		padding: 90px 0 50px;
		color: $white;
		.widget-title {
			color: $white;
			padding-bottom: 5px;
			border-bottom: 1px solid rgba($c1,0.1);
		}

	    .alpha,.alpha aside {
	      margin-left:0;
	    }

	    .omega,.omega aside {
	      margin-right:0; 
	    }
	    omega {
	    	float: right;
	    }
		aside {
	      margin: 0 30px 3.5rem;
	    }

		ul li {
			padding-bottom: 5px;
			padding-top: 5px;
			@include transition-default(all, 0.5s, ease);
		}

		.calendar_wrap {
			td,th {
				color: $white;
			}
			 a {
				color: $white;
				&:hover {
					color: $primary;
				}
			}
			tbody tr:nth-child(odd) {
				th {
					background-color:$secondary;
					color:$white;
				}
				td {
					background-color:$secondary;
					color:$white;	
				}
			}
			tbody tr:nth-child(even) {
			th,td{
					background-color:$secondary;
					color:$white;
				}
			}
			thead th{
				color:$secondary;
			}
		}
		.widget_calendar table caption {
			background: $primary;
		}

		select {
			width: 100%;
			background: $white url('images/down.png') no-repeat 95% 50% white;
			-moz-appearance: none;
			border: 1px solid $c1;
			padding: 5px 10% 5px 3%;

		}
		.widget_search .search-form input[type="search"] {
			color: $white;
		}

		a {
			color: $c1;
			&:hover{
				color: $primary;
			}
		}

		p {
			margin-bottom: 0;
		}
		.widget_nav_menu li {
			border-bottom: none;
				
		}

		.widget_tag_cloud a {
			color: $white;
			&:hover {
				background-color: $secondary;
			}
		}

		ul li {
			list-style: none;
		}

		.widget_rss ul li {
			background: none;
		}

	}
}




@import "bottom-footer";
