.comment-content a {
	word-wrap: break-word;
}
.comment-navigation {
	clear: both;
}


.bypostauthor {
	display: block;   
}

h2.comments-title {      
	margin-bottom: 30px;
	padding-bottom: 10px;
	line-height: normal;
}

ol.comment-list {
	margin: 0;
	list-style-type: none;
}

ol.comment-list ol.children {
	list-style-type: none; 
	margin-left: 10%;

}

ol.comment-list > li {
	margin-bottom: 20px;
}

.comment-body {
	position: relative;
}

ol.comment-list .reply {
	text-align: left;
    @include font-size(1.3);
    position: absolute;
    left: -110px;
    top: 85px;
    color: $white;
    background-color: $primary;
    padding: 1px 15px;
    border-radius: 3px;
    a {
    	color: $white;
    }  
    &:hover {
    	
    }
   
}

.byuser .reply a:hover {
	color: $white;
}


.comment-author {
	display: inline;
	text-transform: uppercase;
	color: $secondary;

	 img {
		position: absolute;
		left: 0;
	}

	.fn {
		font-style: normal;	
		a {
			color: $white;
			&:hover {
				color: $primary;
			}
		}
	}
}

ol.comment-list article {
	width: calc(100% - 140px);
	float: right;
	position: relative;
	z-index:1;
	min-height: 120px;

	.fn {
		color: $primary;
		cursor: pointer;
		&:hover {
			color: $secondary;
		}
	}
}


ol.comment-list article .comment-author img {
	top: -5px;
	left: -120px;
	width: 80px;
	height: 80px;
	border-radius: 100%;
}

ol.comment-list article {}

ol.comment-list li.byuser {
	article {
		//background-color: rgba($secondary, 0.1);
	}	
}


.comment-meta .edit-link {
	position: absolute;
	right:0;
	a {
		color: $white;
		padding: 5px 12px;
		//background-color: $c1;
		//border-radius: 3px;
		&:hover {
			background-color: $primary;
			color: $white;
		}
	}
}

.comment-metadata {
	@include font-size(1.3);
	margin-top:5px;
	margin-bottom:20px;
	display: inline-block;
	a {
		color: $primary;
		&:hover {
			color: $white;
		}
	}
}
  
.byuser .comment-metadata a:hover,
.byuser .comment-content a:hover {
	color: $white;
}    


ol.comment-list  {
	li {
		clear:both;
		background-color: $secondary;
		color: $white;
		content: "";
	    display: table;
	    width: 100%;
	    padding: 30px 20px;
		.comment-body {
			//border-bottom:1px solid $c1;
		}
		ol {
			clear:both;
			li {
				clear:both;
			}
		}
		.comment-content {
			@include font-size(1.4);
		}
	}
}

.comment-form {
	input[type="text"],input[type="email"] {
		float:left;
		width:32.5%;
		margin-top:20px;
		padding:15px 5px;
		margin-bottom:20px;
	}
	input[type="email"] {
		margin-right:8px !important;
		margin-left:8px !important;
	}
	.form-submit {
		float:right;
		margin-top:15px;
	}
}

.comment-respond {
	h3 {
		position:relative;
		&:after {
			position:absolute;
			content:"";
			border-bottom:3px solid $primary;
			bottom:0px;
			left:0px;
			width:5%;
		}
	}
}