.flexslider {
  border: 0 !important;   
  margin-bottom: 0; 
  @include box-shadow(inset,0,0,0,transparent !important);
  @include border-radius(0px !important);
  background: transparent !important;
  
  .slides > li {
    @include position(relative);
  } 

  .flex-direction-nav {
    li {
      border: 0 !important;
      padding: 0;
    }
   
    a {
      margin: 0;
      text-align: center;
      top: 45%;    
      opacity:1;
      overflow: visible;    
      @include size(40px, 90px);
      @include font-size(0);
      line-height: 90px;
      background: rgba($secondary,0.9); 
      border-radius: 2px;
      &:before {
        @include font-size(2);
        color: $white;
        font-family: "FontAwesome";
      }
      &:hover {   
        background-color: $secondary;
        &:before {
          color: $white;
        }       
      }     
    }

    a.flex-prev {
      left:10px;
      &:before {
        content:"\f104";
      } 
      &:after {
        left: 5px;
      }    
    }

    a.flex-next {
      text-align: center;
      right:10px;
       &:before {
        content:"\f105";
      } 
      &:after {
        right: 5px;
      } 
    }


  }

  .flex-control-nav {
    text-align: right;
    bottom: 0;
    li {
      display: block;
      float: left;
      margin: 0;
    }
   
  }

  ol.flex-control-paging {
    text-align: center;
    bottom: 15px;
    z-index: 10;
    li {
      float: none;
      display: inline;
      padding:0px;
      a {
        display: inline-block;
        @include border-radius(25px !important);
        background-color: $white;
        border: 1px solid $white !important;
        text-indent: -9999em !important;
        margin: 0 3px;
        box-shadow:none;
      }

      a.flex-active,a:hover {
        border: 1px solid $white!important;
        border-radius: 25px;
        background-color:transparent;

      }

    }
  }

  &:hover {
    .flex-direction-nav {

      a.flex-prev {
        left: 60px !important;
        background-color: rgba($secondary, 0.7);
        opacity:1;
        &:hover {
           background-color: rgba($primary, 0.4);
        }
      }

      a.flex-next {
        right: 60px !important;
        background-color: rgba($secondary, 0.7);
        opacity:1;
         &:hover {
           background-color: rgba($primary, 0.4);
        }
      }
    }
  }
}


.flexslider {
  .flex-caption {
      position: absolute;  
      top: 20%;
      color: $white;  
      left: 0%;
      width: 100%;
      padding: 20px 15%;
      text-align: center; 
      z-index:100;  
     //background-color: rgba($secondary,0.4);  
       background: -moz-linear-gradient(0deg, rgba(19,19,19,0) 0%, rgba(19,19,19,0) 0%, rgba(19,19,19,0) 5%, rgba(19,19,19,0.1) 10%, rgba(19,19,19,0.4) 43%, rgba(19,19,19,0.4) 43%, rgba(19,19,19,0.38) 47%, rgba(18,17,18,0.15) 89%, rgba(18,17,18,0) 98%, rgba(18,17,18,0) 100%, rgba(0,0,0,0.3) 100%, rgba(0,0,0,0.1) 100%, rgba(18,17,18,0) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(19,19,19,0)), color-stop(0%, rgba(19,19,19,0)), color-stop(5%, rgba(19,19,19,0)), color-stop(10%, rgba(19,19,19,0.1)), color-stop(43%, rgba(19,19,19,0.4)), color-stop(43%, rgba(19,19,19,0.4)), color-stop(47%, rgba(19,19,19,0.38)), color-stop(89%, rgba(18,17,18,0.15)), color-stop(98%, rgba(18,17,18,0)), color-stop(100%, rgba(18,17,18,0)), color-stop(100%, rgba(0,0,0,0.3)), color-stop(100%, rgba(0,0,0,0.1)), color-stop(100%, rgba(18,17,18,0))); /* safari4+,chrome */
    background: -webkit-linear-gradient(0deg, rgba(19,19,19,0) 0%, rgba(19,19,19,0) 0%, rgba(19,19,19,0) 5%, rgba(19,19,19,0.1) 10%, rgba(19,19,19,0.4) 43%, rgba(19,19,19,0.4) 43%, rgba(19,19,19,0.38) 47%, rgba(18,17,18,0.15) 89%, rgba(18,17,18,0) 98%, rgba(18,17,18,0) 100%, rgba(0,0,0,0.3) 100%, rgba(0,0,0,0.1) 100%, rgba(18,17,18,0) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, rgba(19,19,19,0) 0%, rgba(19,19,19,0) 0%, rgba(19,19,19,0) 5%, rgba(19,19,19,0.1) 10%, rgba(19,19,19,0.4) 43%, rgba(19,19,19,0.4) 43%, rgba(19,19,19,0.38) 47%, rgba(18,17,18,0.15) 89%, rgba(18,17,18,0) 98%, rgba(18,17,18,0) 100%, rgba(0,0,0,0.3) 100%, rgba(0,0,0,0.1) 100%, rgba(18,17,18,0) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, rgba(19,19,19,0) 0%, rgba(19,19,19,0) 0%, rgba(19,19,19,0) 5%, rgba(19,19,19,0.1) 10%, rgba(19,19,19,0.4) 43%, rgba(19,19,19,0.4) 43%, rgba(19,19,19,0.38) 47%, rgba(18,17,18,0.15) 89%, rgba(18,17,18,0) 98%, rgba(18,17,18,0) 100%, rgba(0,0,0,0.3) 100%, rgba(0,0,0,0.1) 100%, rgba(18,17,18,0) 100%); /* ie10+ */
    background: linear-gradient(90deg, rgba(19,19,19,0) 0%, rgba(19,19,19,0) 0%, rgba(19,19,19,0) 5%, rgba(19,19,19,0.1) 10%, rgba(19,19,19,0.4) 43%, rgba(19,19,19,0.4) 43%, rgba(19,19,19,0.38) 47%, rgba(18,17,18,0.15) 89%, rgba(18,17,18,0) 98%, rgba(18,17,18,0) 100%, rgba(0,0,0,0.3) 100%, rgba(0,0,0,0.1) 100%, rgba(18,17,18,0) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#121112',GradientType=1 ); /* ie6-9 */ 

      margin:0 auto;
        h1,h2,h3,h4,h5,h6 {
          color: $white;
         //padding-bottom: 20px;
          position: relative;  
          line-height: 1.2;
        } 

        p {
          @include font-size(1.6);
        }

      a,p a {    
          color: $white;
          padding: 6px 16px; 
          margin: 10px;
          display: inline-block;
          text-align: center;
          border-radius: 3px;
          background-color: $primary;
          font-weight: 700;
          &:hover {
             background-color: $secondary; 
          }
      }
      
      .portfolio-readmore {
         margin-bottom: 10px;
         .fa {
            display: none;
         }
      }
  }
  .flex-image {
   position: relative;  
  }
}


.gym-slide-overlay {
    background: rgba(0, 0, 0, 0) url("images/dot-pattern.png") repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
}