.hentry.sticky {
	color: $white;
	padding: 25px !important;
	padding-bottom: 20!important;
	@include border-radius(5px);
	position: relative;
	margin-bottom: 90px !important;
	background-color: $primary;

	&:after {
		position: absolute;         
		content:"";
		left:0; 
		bottom: -70px;    
		height:3px;
		width: 100%;
		border-bottom: 1px solid $c1;  
	}  

	.entry-meta .date-structure {
		&:hover {
		  .dd {
		  	color: $secondary;
		  }
		}
		.dd {
			color: $white;
		}
	}
	
	h1.entry-title { 
		a {
	 		color: $white;
	 		&:hover {
	 			color: $secondary;    
	 		}  	
	 	} 
	 }

	 .entry-content {
	    color: $white!important;
	 	ul {
	 		li{
	 			list-style:square;
	 		}
	 	}
	 	p {
	 		color: $white!important;
	 	}
	 }

	 a {
	 	color: $white;
	 	&:hover {
	 		color: $secondary;
	 	}
	}

	span i {
		color: $white;
	}

	code {
	 	color: $black;
	 }

	 .entry-footer {
	 	span {
	 		background-color:$primary;
	 		color:$white;
	 		i,a {
	 			color:$white;
	 		}
	 	}
	 }

	.entry-footer,
	.entry-meta {
		margin-bottom: 0;
	 	border: 0;
	 	a {
	 		color: $white;
	 		&:hover {
	 			color: $white;
	 		}
	 	}
	 }

	.entry-meta {
		a:hover {
 			color: $secondary!important;
 		}
	 }

}

.hentry.post {
	margin: 0 0 1em;
	border-bottom: 1px solid $c1;
	h1 a {
		color: $black;
		&:hover {
			color: $primary;
		}
	}
}

.byline,
.updated:not(.published){}

.single .byline,
.group-blog .byline {
	display: inline;
}



.sticky {
	.entry-meta,
	.entry-footer {
		background : none;
		padding: 0;
	}
}

.entry-meta .date-structure {
	display: inline-block;
	text-align: center;
	.dd {
		color: $c3;
	}
	&:hover { 
	  .dd {
	  	color: $secondary;
	  }
	}
}

.entry-meta,.entry-footer {
	margin: 5px 0px 40px 0px;
	position: relative;
	border-top: 1px solid $c1;
	border-bottom: 1px solid $c1;
	padding: 6px 0px;	 
}


.entry-meta {
	
	span {
		margin: 0 30px 0 0;
		

		span {
			margin: 0;
		}

		i {
			color: $c3;
			padding-right: 5px;
		}

		a {
			color: $c3;
		}
		&:hover {
			i {
				color: $secondary;			
			}
			a {
				color: $secondary;
			}
		}
	}
	.cat-links {
		a:hover {
	        color: $secondary!important;
		}
		&:hover a {
			color: $c3;
		}
	}

}
.entry-footer {
	
	span {
		margin: 0 30px 0 0px;
		span {
			margin: 0;
		}

		i {
			color: $secondary;
			padding-right: 5px;
		}

		a {
			color: $white;
			background-color:$primary;
			font-size:12px;
			padding: 5px 10px;
			border-radius: 3px;
			&:hover { 
				background-color: $secondary;			
			}
		}

	}
}


.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	margin: 0 0 1.5em;
	padding: 12px;
	text-align: center;
	color: $white;
	background-color: $primary;
	display: inline-block;
	a {
		padding: 5px 10px;   
		color: $secondary;
		&:hover {
			color: $c1;
		}
	}
}

blockquote,q {
	position: relative;
	margin: 0;
	display: inline-block;
	margin: 20px 0px;
	//margin:0;  
	@include font-size(2);
	//font-family: $heading_font;
	padding: 0 10px 0 40px;
	border-left: 5px solid $primary;

	&:before {
		position: absolute;
		content: "\f10d";
		@include font-size(2);
		font-family: 'FontAwesome';
		left: 15px;
		top: 0;
		color: $c3;	
	}	

	p {
		margin-bottom: 0;
		@include font-size(2);
		padding: 0px 20px;
		color: $c3;
		position: relative;
	
		cite {
			font-style: normal;
			text-transform: uppercase;
			color: $white;
		}
		a, a:visited {
			color: $white;
			@include font-size(1.4);
		}

		a:hover {
			color: $c3;
		}
	}
}

.related-posts { 
	padding: 20px 0px;
	ul#tech-literacy-related-posts {
		list-style-type: none;
		margin: 0;
		li {
			width: 18%;
			float: left;
			margin: 1%;
			line-height: normal;
			a {
				line-height: normal;
			}
		}
	}
}  
  
.post  {
    position:relative;
	.latest-content {
		
		h1.entry-title {   
			margin-bottom: 0;
		}

		h1,h2,h3,h4,h5,h6,h1.entry-title {
          line-height: 1.3;
		}

		.entry-meta {
			span {
				@include font-size(1.4);
			}
		}
		.entry-content {
		    color: $secondary;
			p {
				color:$secondary;
			}
		}  
		
		a.more-link {  	
			border-radius:2px;
			padding: 3px 15px;
			background:$primary;
			
			&:hover {
				background:$secondary;
			}
			.fa {
				display: none;
			}
		}
	}
}